@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* General Styles */
html {
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5 {
  font-size: 20px;
}

p {
  line-height: 1.25;
  margin: 20px 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid black;
  margin: 20px 0;
  padding: 20px 0;
}

/*  NOTES

Display: none
- Removes the element from the flow of the page
- Very useful for JavaScript interactions later

Display: block

- Takes up the horizontal space if it can
- Introduces a page break
- Respects the box model completely

Display: inline

- Takes up the horizontal space of it's content only
- Content flows around them nicely
- Respects the horzontal aspects of box model but not the vertical aspects (left and right margins but not top or bottom)

Display: inline-block

- Takes up the horizontal space of it's content only
- Content flows around them nicely
- Respects the box model completely
- no page break

*/

strong {
  font-weight: bold;
  color: royalblue;
}

header h1 {
  font-size: 20px;
}

header nav {
  margin: 20px 0;
  margin-left: 62px;
}

header nav a {
  margin-left: 20px;
  font-size: 18px;
}

header nav .first-anchor {
  margin-left: 0;
}

/* .main-content section {

} */

.main-footer {
  margin-bottom: 40px;
}

.main-footer nav a {
  margin-left: 20px;
}

.box {
  /* NOTES
  
  Box Model: Content 
  - First look at the actual content as a guide
  - width and height provide constraints
  - overflow occurs if width and height are not enough for the content provided
  */
  background: #d2d2d2;
  
  /* Box Model: Padding 
  - White space between content and border
  Shorthand - "You will be in TRBL if you don't remember these!"
  - TRBL
  - TB LR
  - T LR B
  - T R B L
  - Individual sides work too
  */
 
  /* Border
  shorthand for border: size, type, color;
  */
  
  /* Margin
  - The white space around the border and other elements on the page
  - Has same shortand has padding TRBL
  */
}
